<form class="form-inline" style="margin: 10px;">
	<div class="form-group mx-sm-3 mb-2">
		<input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome"
			placeholder="Pesquisar por nome">
	</div>
</form>
<div>
	<button  type="button" (click)="consultarUser()" id="consultar" class="btn btn-success">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
Pesquisar
	  </button>
	<button type="button" class="btn btn-primary" id="novo" [routerLink]="['/usuarioAdd']">Criar novo usuário</button>
	<button type="button" class="btn btn-primary" id="mostrar" (click)="mostrarUsers()">Mostrar</button>
</div>

<table class="table table-success table-striped" id="tabela">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nome</th>
			<th scope="col">CPF</th>
			<th scope="col">Deletar</th>
			<th scope="col">Editar</th>
		</tr>
	</thead>

	<tbody [hidden]="verLista">
		<tr
			*ngFor="let student of students | paginate:{ itemsPerPage:5, currentPage: p, totalItems : total}; let i = index">
			<td>{{student.id}}</td>
			<td>{{student.nome}}</td>
			<td>{{student.cpf}}</td>
			<td><button onclick="return confirm('Deseja realemente excluír?');" (click)="deleteUsuario(student.id, i)"
					class="btn btn-danger">Delete</button></td>
			<td><button [routerLink]="['/usuarioAdd', student.id]" routerLinkActive="router-link-active"
					class="btn btn-dark">Editar</button></td>
		</tr>
	</tbody>
</table>

<div class="text-center">
	<pagination-controls (pageChange)="carregarPagina(p = $event);" previousLabel="Voltar" nextLabel="Avançar"
		responsive="true">
	</pagination-controls>
</div>

<!-- Modal -->
<hr />
<button (click)="imprimirRelatorio()" style="margin: 50px; padding: 10px" type="button" class="btn btn-primary" (click)="openPopup()">Show Data
</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
	<div class="modal-dialog" style="min-width: 90%; min-height: 90%;">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<iframe id="pdf" width="100%" height="500" frameborder="0" allowtransparency="true"></iframe>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" (click)="closePopup()">
					Fechar
				</button>
			</div>
		</div>
	</div>
</div>