form{
margin-top: 50px;
}
label{
	color: darkorange;
	font-weight: bold;
}
button{
	margin-top: 10px;
	margin-left: 10px;
}

span{
	margin-left: 10px;
	color: red;
}
h3{
	margin-top: 50px;
	text-align: center;
	color: darkorange;

}
hr{
	margin-top:20px;
}