@media(max-width: 1000px){
	header{
		display: block;
	}
}
nav{
	background-color: black;
}
#home, #sair, #navbarDropdown, #dropdown{
	color: darkorange;
	font-weight: bold;
}
#usuarios{
	padding: 8px;
	color: darkorange;
	font-weight: bold;
}
