<form id="novo" #formValidate="ngForm">

	<div class="row d-flex justify-content-center">
		<label id="id">ID</label>
	</div>
	<div class="row d-flex justify-content-center">
		<input id="id" name="id" type="text" [(ngModel)]="usuario.id" placeholder="ID preenchido automaticamente"
			readonly>
	</div>

	<div class="row d-flex justify-content-center">
		<label id="nome">Nome</label>
		<span *ngIf="nomeValidate.invalid">*</span>
	</div>
	<div class="row d-flex justify-content-center">
		<input id="nome" name="nome" #nomeValidate="ngModel" [(ngModel)]="usuario.nome" type="text" required>
	</div>

	<div class="row d-flex justify-content-center">
		<label id="login">Login</label>
		<span *ngIf="loginValidate.invalid">*</span>
	</div>
	<div class="row d-flex justify-content-center">
		<input id="login" #loginValidate="ngModel" name="login" [(ngModel)]="usuario.login" type="text" required>
	</div>

	<div class="row d-flex justify-content-center">
		<label id="senha">Senha</label>
		<span *ngIf="senhaValidate.invalid">*</span>
	</div>
	<div class="row d-flex justify-content-center">
		<input id="senha" #senhaValidate="ngModel" name="senha" [(ngModel)]="usuario.senha" type="password" required>
	</div>

	<div class="row d-flex justify-content-center">
		<label id="cpf">CPF</label>
	</div>
	<div class="row d-flex justify-content-center">
		<input matInput id="cpf" [mask]="getCpfMask()" name="cpf" [(ngModel)]="usuario.cpf" type="text">
	</div>


	<div class="d-flex justify-content-center">
		<button type="button" class="btn btn-success" id="limpar" (click)="limpar()">Limpar</button>
		<button type="button" [disabled]="formValidate.invalid" class="btn btn-success" id="enviar" (click)="salvarUser()">Enviar</button>
	</div>
</form>
<hr>